<!-- filter input -->
<div 
    fxLayout="row"
    fxLayoutAlign="center center">
    <mat-card 
        fxLayout="row"
        fxLayoutAlign="space-evenly center"
        fxFlex="50"
        class="search-input">
        <mat-form-field appearance="fill">
            <mat-label>{{inputLabel}}</mat-label>
            <input matInput
                type="text"
                [formControl]="searchKey"
                (input)="search()"
                (keyup.enter)="search()">
        </mat-form-field>
    </mat-card>
</div>

<div infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="50"
    [fromRoot]="true"
    (scrolled)="onScroll()"
    fxLayout="column" 
    fxLayoutAlign="space-evenly center"
    fxLayoutGap="17px"
    class="image-list-container">

    <!-- Image list -->
    <div *ngFor="let item of visibleImages"
        fxLayout="row"
        fxLayoutAlign="space-evenly center" class="item">
        <app-imagecard [item]=item fxFlex="50"></app-imagecard>
    </div>

</div>